{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="container flash-{{ label }} message">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}