<aside class="sidebar">
    <nav class="nav">
        <ul>
            <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
            <li><a href="{{ path('admin_user') }}">Users</a></li>
            <li><a href="{{ path('admin_stage') }}">Stages</a></li>
        </ul>
    </nav>
</aside>